[DATA]
data = {"a_register": [], "b_login": [],"c_recharge": [],"d_withdrawal":[],"e_loan_add":[0,1,2],"f_bidLoan":[0,1,2]}
data1 = {"a_register": "all", "b_login": "all","c_recharge": "all","d_withdrawal":"all","e_loan_add":"all","f_bidLoan":"all"}

[DB]
db={"host":"47.107.168.87","port":3306,"user":"python","password":"python666","database":"future"}