[DATA]
data1 = {"a_Login": [0],"b_Tracker":[2,3,5],"c_Trip replay":[3],"d_Timeline":[],"e_Report":[],"f_Alerts":[],"g_Setting-label":[9,10,11],"h_Setting-poi":[]}
data = {"a_Login": "all","b_Tracker":"all","c_Trip replay":"all","d_Timeline":"all","e_Report":"all","f_Alerts":"all","g_Setting-label":"all","h_Setting-poi":"all"}

[DB]
db={"host":"47.107.168.87","port":3306,"user":"python","password":"python666","database":"future"}